:root {
  --primary-color: #060B35;
  --secondary-color: #616070;
  --color_link: #00ACDC;
  --color_body: #e1e1e6;
}

html {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p,
ul,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--color_body);
  height: 100vh;
  width: 100vw;
}

.card {
  padding: 32px 16px 16px;

  width: 200px;
  height: 406px;

  border: 1px solid #f3f3f3;
  border-radius: 5px;
  background-color: #fff;


}

.card__image {
  display: flex;
  align-content: center;

  margin: 0 auto 40px;

  width: 160px;
  height: 134px;

}

.card__title {
  margin: 0 0 4px;

  color: var(--primary-color);
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;

  width: 166px;
}

.card__code {
  margin: 0 0 16px;

  color: var(--secondary-color);
  font-size: 10px;
  line-height: 14px;
}

.card__rating {
  margin: 0 0 24px;
}

.rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stars {
  display: flex;
  gap: 4px;
  
}

.stars__star {
  height: 16px;
  width: 16px;
  background-repeat: no-repeat;
}

.stars__star--active {
  background-image: url(images/star-active.svg);
}

.stars__star--inactive {
  background-image: url(images/star.svg);
}

.rating__reviews {
  color: var(--primary-color);
  font-size: 10px;
  line-height: 14px;
}

.card__price {
  margin: 0 0 16px;
}

.price {
  display: flex;
  justify-content: space-between;
}

.price__text {
  color: var(--secondary-color);
  font-size: 12px;
  line-height: 18px;
}

.price__count {
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

.card__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 100%;

  color: #fff;
  background-color: var(--color_link);

  text-decoration: none;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
  line-height: 16px; /* 114.286% */
  text-transform: uppercase;
  transition: all 400ms ease;
  border: 1px solid var(--color_link);
}

.link__buy {
 
}

.card:hover .link__buy,
.link__buy:hover {
  color: var(--color_link);
  background-color: #fff;
  border: 1px solid var(--color_link);
}